{
    "$schema": "https://json.schemastore.org/swcrc",
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "dynamicImport": true,
            "decorators": true
        },
        "transform": {
            "decoratorMetadata": true
        },
        "target": "es2022",
        "loose": true,
        "externalHelpers": false,
        "keepClassNames": true,
        "baseUrl": "./",
        "paths": {
            "@Softcore/*": ["src/*"]
        }
    },
    "exclude": ["node_modules/"],
    "module": {
        "type": "commonjs",
        "strict": false,
        "strictMode": false,
        "lazy": false,
        "noInterop": false
    },
    "sourceMaps": true,
    "minify": false
}
